<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wt.book.dao.AuthorDao" >
  <resultMap id="BaseResultMap" type="org.wt.book.model.Author" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="nickName" property="nickname" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="provice" property="provice" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="INTEGER" />
    <result column="joinDate" property="joindate" jdbcType="TIMESTAMP" />
    <result column="fromAdd" property="fromadd" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="protectLevel" property="protectlevel" jdbcType="INTEGER" />
    <result column="statu" property="statu" jdbcType="INTEGER" />
    <result column="representBooks" property="representbooks" jdbcType="VARCHAR" />
    <result column="str1" property="str1" jdbcType="VARCHAR" />
    <result column="str2" property="str2" jdbcType="VARCHAR" />
    <result column="str3" property="str3" jdbcType="VARCHAR" />
    <result column="str4" property="str4" jdbcType="VARCHAR" />
    <result column="str5" property="str5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, nickName, age, birthday, provice, city, joinDate, fromAdd, level, introduction,
    remark, protectLevel, statu, representBooks, str1, str2, str3, str4, str5
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from author
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from author
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.wt.book.model.Author" >
    insert into author (id, name, nickName,
      age, birthday, provice,
      city, joinDate, fromAdd,
      level, introduction, remark,
      protectLevel, statu, representBooks,
      str1, str2, str3, str4,
      str5)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR},
      #{age,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, #{provice,jdbcType=INTEGER},
      #{city,jdbcType=INTEGER}, #{joindate,jdbcType=TIMESTAMP}, #{fromadd,jdbcType=VARCHAR},
      #{level,jdbcType=INTEGER}, #{introduction,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      #{protectlevel,jdbcType=INTEGER}, #{statu,jdbcType=INTEGER}, #{representbooks,jdbcType=VARCHAR},
      #{str1,jdbcType=VARCHAR}, #{str2,jdbcType=VARCHAR}, #{str3,jdbcType=VARCHAR}, #{str4,jdbcType=VARCHAR},
      #{str5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.wt.book.model.Author" >
  <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
      </selectKey>
    insert into author
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="nickname != null" >
        nickName,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="provice != null" >
        provice,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="joindate != null" >
        joinDate,
      </if>
      <if test="fromadd != null" >
        fromAdd,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="protectlevel != null" >
        protectLevel,
      </if>
      <if test="statu != null" >
        statu,
      </if>
      <if test="representbooks != null" >
        representBooks,
      </if>
      <if test="str1 != null" >
        str1,
      </if>
      <if test="str2 != null" >
        str2,
      </if>
      <if test="str3 != null" >
        str3,
      </if>
      <if test="str4 != null" >
        str4,
      </if>
      <if test="str5 != null" >
        str5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="provice != null" >
        #{provice,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=INTEGER},
      </if>
      <if test="joindate != null" >
        #{joindate,jdbcType=TIMESTAMP},
      </if>
      <if test="fromadd != null" >
        #{fromadd,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="protectlevel != null" >
        #{protectlevel,jdbcType=INTEGER},
      </if>
      <if test="statu != null" >
        #{statu,jdbcType=INTEGER},
      </if>
      <if test="representbooks != null" >
        #{representbooks,jdbcType=VARCHAR},
      </if>
      <if test="str1 != null" >
        #{str1,jdbcType=VARCHAR},
      </if>
      <if test="str2 != null" >
        #{str2,jdbcType=VARCHAR},
      </if>
      <if test="str3 != null" >
        #{str3,jdbcType=VARCHAR},
      </if>
      <if test="str4 != null" >
        #{str4,jdbcType=VARCHAR},
      </if>
      <if test="str5 != null" >
        #{str5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.wt.book.model.Author" >
    update author
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="provice != null" >
        provice = #{provice,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=INTEGER},
      </if>
      <if test="joindate != null" >
        joinDate = #{joindate,jdbcType=TIMESTAMP},
      </if>
      <if test="fromadd != null" >
        fromAdd = #{fromadd,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="protectlevel != null" >
        protectLevel = #{protectlevel,jdbcType=INTEGER},
      </if>
      <if test="statu != null" >
        statu = #{statu,jdbcType=INTEGER},
      </if>
      <if test="representbooks != null" >
        representBooks = #{representbooks,jdbcType=VARCHAR},
      </if>
      <if test="str1 != null" >
        str1 = #{str1,jdbcType=VARCHAR},
      </if>
      <if test="str2 != null" >
        str2 = #{str2,jdbcType=VARCHAR},
      </if>
      <if test="str3 != null" >
        str3 = #{str3,jdbcType=VARCHAR},
      </if>
      <if test="str4 != null" >
        str4 = #{str4,jdbcType=VARCHAR},
      </if>
      <if test="str5 != null" >
        str5 = #{str5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.wt.book.model.Author" >
    update author
    set name = #{name,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      provice = #{provice,jdbcType=INTEGER},
      city = #{city,jdbcType=INTEGER},
      joinDate = #{joindate,jdbcType=TIMESTAMP},
      fromAdd = #{fromadd,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      protectLevel = #{protectlevel,jdbcType=INTEGER},
      statu = #{statu,jdbcType=INTEGER},
      representBooks = #{representbooks,jdbcType=VARCHAR},
      str1 = #{str1,jdbcType=VARCHAR},
      str2 = #{str2,jdbcType=VARCHAR},
      str3 = #{str3,jdbcType=VARCHAR},
      str4 = #{str4,jdbcType=VARCHAR},
      str5 = #{str5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 根据作者名查看作者是否存在 -->
  <select id="selectAuthorName" resultMap="BaseResultMap" parameterType="org.wt.book.model.Author" >
    select 
    <include refid="Base_Column_List" />
    from author
    where nickName = #{nickname,jdbcType=VARCHAR} and fromAdd = #{fromadd,jdbcType=VARCHAR} limit 1
  </select>
  
</mapper>